#apec_group {
	width: 100%;
	height: 650px;
	padding: 50px 0;
	/* background-color: violet; */
	position: relative;
	z-index: -1;
}

h3 {
	color: #cf585e;
}

.apec_group_inside_content_header {
	margin: 10px 0;
}

.apec_group_inside {
	width: 50%;
	float: right;
	position: relative;
}

.apec_group_inside img {
	position: absolute;
	top: 62px;
	left: -34px;
}

.apec_group_inside_content {
	width: 70%;
}

.apec_group_inside_content_paragraph p {
	margin: 10px 0;
	color: #61717b;
	/* position: relative; */
}

.apec_group_inside_content_paragraph ul {
	/* float: left; */
	clear: both;
	list-style-type: none;
	/* float: left; */
}

.apec_group_inside_content_paragraph ul li {
	color: #61717b;
}

.apec_group_inside_content_movepage ul {
	float: left;
	margin: 20px 0;
}

.apec_group_inside_content_movepage ul li {
	display: inline-block;
	padding: 11px 17px;
	border: 1px solid #000;
	border-radius: 50%;
}
