#apec_city {
	justify-content: center;
	/* width: 1920px; */
	height: 2004px;
}

::placeholder {
	color: #0c3050;
	font-size: 16px;
}

.apec_city_inside {
	width: 100%;
	height: auto;
	position: relative;
}

.apec_city_inside_header {
	text-align: center;
	height: auto;
	padding: 0px 29% 48px 29%;
}

.apec_city_inside_header h1 {
	color: #0c3050;
	font-size: 48px;
	line-height: 56px;
}

.apec_city_inside_structure {
	height: 1704px;
	position: relative;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	z-index: -1;
}

.svg-image {
	position: absolute;
	/* max-width: 100%; */
	width: 100%;
	height: auto;
	/* size: ; */
	/* z-index: -1; */
}

.apec_city_mini_block {
	position: absolute;
	width: 390px;
	height: 320px;
	padding: 32px;
	border-radius: 8px;
	box-shadow: 0 4px 25px 0 #3707001a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	bottom: 78px;
	left: 33px;
}

.apec_city_mini_block h3 {
	text-align: center;
	color: #0c3050;
	font-size: 24px;
	line-height: 28px;
}

.apec_city_mini_block_content {
	color: #597487;
	margin: 16px;
	font-size: 16px;
}

.mini_block_search_inside {
	width: 193px;
	height: 48px;
	display: flex;
	border-radius: 50px;
	border: 2px solid #0c3050;
	/* padding: 13px 24px; */
}

.mini_block_search_inside input {
	width: 70%;
	/* height: 97%; */
	border: 1px solid transparent;
	outline: 0;
	border-radius: 50px;
	padding: 13px 24px;
}

.mini_block_search_inside button {
	width: 30%;
	/* height: 100%; */
	border-radius: 50px;
	border: 1px solid transparent;
	font-size: 17px;
	background-color: transparent;
	font-size: 17px;
}

.apec_city_mini_block .block_it {
	position: absolute;
	/* z-index: 1; */
	top: -110px;
}

.apec_city_mini_block .close_mini_block {
	position: absolute;
	top: -21px;
	right: -18px;
}
