#apec_group {
	width: 100%;
	height: 570px;
	padding: 96px 0;
	position: relative;
	background-color: #edf1f4;
	z-index: -1;
}

.apec_group_inside_content_header h3 {
	color: #cf585e;
	font-size: 24px;
	padding: 10px 0;
}

.apec_group_inside_content_header {
	margin: 10px 0;
}

.apec_group_inside_content_header h1 {
	font-size: 48px;
}

.apec_group_inside {
	width: 50%;
	float: right;
	position: relative;
}

#apec_group img {
	position: absolute;
	top: 62px;
	left: -34px;
}

.apec_group_inside_content {
	width: 70%;
}

.apec_group_inside_content_paragraph {
	color: #597487;
	margin: 32px 0;
}

.apec_group_inside_content_paragraph p {
	margin: 10px 0;
	color: #61717b;
	font-size: 16px;
	/* position: relative; */
}

.apec_group_inside_content_paragraph ul {
	list-style-type: none;
	/* color: #597487; */
}

.apec_group_inside_content_movepage {
	display: flex;
	width: 30%;
}

.apec_group_inside_content_movepage .movepage_item,
.movepage_previous_next {
	/* width: 10%; */
	padding: 15px 17px;
	text-align: center;
	font-size: 7px;
	color: #eaacad;
}

.movepage_previous_next {
	border-radius: 50px;
	background: #eaacad;
	color: #231f20;
}
