#apply_apec {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 110px 0;
	position: relative;
	font-family: 'SVN-Gilroy';
}

/* ::placeholder {
	color: #d6d6d6;
} */

#apply_apec img {
	position: absolute;
	z-index: -1;
}

#apply_apec .frame1 {
	top: 15px;
	left: 0px;
}

#apply_apec .frame2 {
	top: 498px;
	left: 0;
}

#apply_apec .frame3 {
	top: 21px;
	right: 0px;
}

#apply_apec .frame4 {
	top: 559px;
	right: -18px;
}

#apply_apec .apply_inside {
	width: 40%;
	padding: 30px;
}

.apply_inside_header {
	text-align: center;
}

h3 {
	color: #bd6064;
	font-size: 24px;
	padding: 16px;
}

.apply_inside_header h1 {
	color: #0b314f;
}

.apply_inside_form {
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
	/* font-family: 'SVN-Gilroy'; */
}

.apply_inside_form form {
	border-radius: 20px;
	padding: 36px;
	width: 100%;
	box-shadow: 0 4px 25px #2900001a;
}

.apply_name_email {
	display: flex;
	font-size: 16px;
}

.apply_name_email .name,
.apply_name_email .email {
	box-sizing: border-box;
	width: 50%;
	height: 56px;
	outline: none;
}

.apply_role_cv {
	display: flex;
	font-size: 16px;
}

.apply_role_cv .role {
	width: 40%;
	outline: none;
}

#apply_cv {
	/* width: 60%; */
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.apply_cv {
	width: 60%;
	margin: 8px;
	border: 1px solid #aaaaaa;
	border-radius: 10px;
	padding: 16px;
}

#apply_cv,
.apply_role_cv .role {
	height: 56px;
	background-color: white;
	box-sizing: border-box;
}

.apply_inside_form .textfield {
	box-sizing: border-box;
	/* border: 1px solid #000; */
}

.textfield textarea {
	width: 100%;
	border: 1px solid transparent;
	resize: none;
}

.textfield textarea:focus {
	outline: none;
}

.apply_inside_form input,
.apply_inside_form select,
.apply_inside_form .textfield {
	margin: 8px;
	padding: 16px;
	border-radius: 10px;
	border: 1px solid #aaaaaa;
	font-size: 15px;
}

.apply_inside_form input::placeholder,
.apply_inside_form .textfield textarea::placeholder {
	color: #d6d6d6;
}

.send_form {
	margin: 8px;
	height: auto;
}

.send_form .send {
	width: 240px;
	float: right;
	background: #cf585e;
	height: 56px;
	border: 1px solid #cf585e;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	/* padding: 14px 33px; */
}
