html {
	scroll-behavior: smooth;
}

body {
	font-family: 'SVN-Gilroy', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

.container {
	height: auto;
	width: 100%;
	overflow: hidden;
}

.home_page_inside h3 {
	color: #0c3050;
	padding: 10px 0;
}

.home_page_inside img {
	position: absolute;
}

.home_page_inside .cloud1 {
	top: 161px;
	left: 74px;
}

.home_page_inside .cloud2 {
	top: 171px;
	left: 735px;
}

.home_page_inside .cloud3 {
	top: 231px;
	left: 1208px;
}

.home_page_inside .cloud4 {
	top: 153px;
	left: 1711px;
}

.home_page_inside .tree1 {
	top: 999px;
	left: 37px;
}

.home_page_inside .tree2 {
	top: 1052px;
	left: 146px;
}

.home_page_inside .tree3 {
	top: 962px;
	left: 225px;
}

.home_page_inside .tree4 {
	left: 1541px;
	top: 1021px;
}

.home_page_inside .tree5 {
	top: 1040px;
	left: 1678px;
}

.home_page_inside .tree6 {
	top: 1002px;
	left: 1857px;
}

#home_page {
	height: 1080px;
	background-image: url('../background/Illustrations-colored-v2.svg');
	display: flex;
	justify-content: center;
	padding: 48px 0 0 0;
	position: relative;
	box-sizing: border-box;
}

.home_page_inside {
	width: 1252px;
}

.home_page_inside_navbar {
	display: flex;
	/* width: 65.2%; */
}

.home_page_inside_navbar_inside {
	/* width: 65.2%; */
	width: 100%;
	display: flex;
	color: #0c3050;
}

.home_page_navbar_logo {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
}

.home_page_navbar_logo img {
	max-width: 100%;
	max-height: auto;
}

.link_list {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.link_list ul {
	width: 80%;
	float: right;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.link_list ul li {
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-left: 20px; */
	white-space: nowrap;
	width: 16%;
	height: 40px;
	border-radius: 50px;
	/* box-sizing: border-box; */
}
.link_list ul li a {
	text-decoration: none;
	border: 1px solid transparent;
	font-size: 16px;
	max-width: 100%;
	max-height: auto;
	color: #0c3050;
}

.link_list ul li:hover {
	background-color: #0c3050;
	transition: 0.4s;
}

.link_list ul li:hover a {
	transition: 0.3s;
	color: white;
}

.home_page_inside_content {
	height: 95%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.home_page_inside_content_inside {
	width: 100%;
	max-height: 100%;
	border: 1px solid transparent;
	padding: 42px 0 0 0;
	box-sizing: border-box;
}

.home_page_inside_content_inside_text {
	color: #0c3050;
	/* width: 60%; */
	border: 1px solid transparent;
	/* line-height: 24px; */
}

.home_page_inside_content_inside_text h1 {
	font-size: 48px;
	line-height: 56px;
}

.home_page_inside_content_inside_text h3 {
	font-size: 24px;
	line-height: 56px;
}

.paragraph {
	padding: 20px 0;
	line-height: 24px;
}

.search_box {
	width: 193px;
	height: 48px;
	border: 2px solid #0c3050;
	border-radius: 50px;
	display: flex;
}

.search_box_input {
	box-sizing: border-box;
	width: 80%;
	height: 100%;
	background-color: transparent;
	padding: 11px 24px;
	border: 1px solid transparent;
}

.search_box_input:focus {
	outline: transparent;
}

.search_icon {
	width: 20%;
	font-size: 120%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
