html {
	scroll-behavior: smooth;
}

body {
	font-family: 'SVN-Gilroy';
}

* {
	margin: 0px;
	padding: 0px;
}

.container {
	height: auto;
	width: 100%;
	overflow: hidden;
}

.home_page_inside h3 {
	color: #0c3050;
	padding: 10px 0;
}

.home_page_inside img {
	position: absolute;
}

.home_page_inside .cloud1 {
	top: 161px;
	left: 74px;
}

.home_page_inside .cloud2 {
	top: 171px;
	left: 735px;
}

.home_page_inside .cloud3 {
	top: 231px;
	left: 1208px;
}

.home_page_inside .cloud4 {
	top: 153px;
	left: 1711px;
}

.home_page_inside .tree1 {
	top: 999px;
	left: 37px;
}

.home_page_inside .tree2 {
	top: 1052px;
	left: 146px;
}

.home_page_inside .tree3 {
	top: 962px;
	left: 225px;
}

.home_page_inside .tree4 {
	left: 1541px;
	top: 1021px;
}

.home_page_inside .tree5 {
	top: 1040px;
	left: 1678px;
}

.home_page_inside .tree6 {
	top: 1002px;
	left: 1857px;
}

#home_page {
	width: 100%;
	height: 1000px;
	background-image: url('../background/Illustrations-colored-v2.svg');
	display: flex;
	justify-content: center;
	padding: 50px;
}

.home_page_inside {
	width: 80%;
	/* height: auto; */
}

.home_page_inside_navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 5%;
}

.home_page_inside_navbar_inside {
	width: 90%;
	display: flex;
	color: #0c3050;
}

.home_page_navbar_logo {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	/* padding: 0 20px; */
}

.link_list {
	width: 80%;
	display: flex;
	align-items: center;
	float: right;
}

.link_list ul {
	width: 100%;
	float: right;
}

.link_list ul {
	list-style-type: none;
}

.link_list ul li {
	float: right;
}
.link_list ul li a {
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid transparent;
	border-radius: 50px;
	color: #0c3050;
}

.link_list ul li a:hover {
	background-color: #0c3050;
	transition: 0.3s;
	color: white;
}

.home_page_inside_content {
	height: 95%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.home_page_inside_content_inside {
	width: 90%;
	/* height: 100%; */
	border: 1px solid transparent;
	padding: 100px 0;
}

.home_page_inside_content_inside_text {
	color: #0c3050;
	width: 60%;
	border: 1px solid transparent;
}

.paragraph {
	padding: 20px 0;
}

.search_box {
	width: 25%;
	height: 30px;
	border: 1px solid black;
	border-radius: 50px;
	display: flex;
}

.search_box_input {
	box-sizing: border-box;
	width: 80%;
	height: 100%;
	background-color: transparent;
	padding: 0 8px;
	border: 1px solid transparent;
}

.search_box_input:focus {
	outline: transparent;
}

.search_icon {
	width: 20%;
	font-size: 120%;
	display: flex;
	justify-content: center;
	align-items: center;
}
